apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "overpass-api.fullname" . }}-update
spec:
  schedule: {{ .Values.updateJob.schedule | quote }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: overpass-update
            image: "{{ .Values.updateJob.image.repository }}:{{ .Chart.AppVersion }}"
            imagePullPolicy: {{ .Values.updateJob.image.pullPolicy }}
            env:
            - name: OVERPASS_MODE
              value: "update"
            - name: OVERPASS_META
              value: {{ .Values.overpassMeta | quote }}
            - name: OVERPASS_PLANET_URL
              value: {{ .Values.updateJob.planetUrl | quote }}
            - name: OVERPASS_DIFF_URL
              value: {{ .Values.updateJob.diffUrl | quote }}
            - name: OVERPASS_UPDATE_FREQUENCY
              value: {{ .Values.updateJob.updateFrequency | quote }}
            - name: OVERPASS_COMPRESSION
              value: {{ .Values.overpassCompression | quote }}
            - name: OVERPASS_RULES_LOAD
              value: {{ .Values.updateJob.rulesLoad | quote }}
            volumeMounts:
            - name: db-volume
              mountPath: /app/db
          volumes:
          - name: db-volume
            persistentVolumeClaim:
              claimName: {{ include "overpass-api.fullname" . }}-pvc
          restartPolicy: OnFailure